body {
  height: 100%;
  width: 100%;
  display: block;
  background-color: blue;

}

div {
  height: 100px;
  width: 400px;
  border: solid 1px black;
  position: absolute;
  background-color: white;
}





